@use '../../foundation/mixin' as *;
@use '../../foundation/variable' as *;

.p-top__fv {
 width: 100%;
 position: relative;
}

.p-top-fv__img {
 width: 100%;
 position: relative;
}

.p-top-fv__img::before {
 content: '';
 background-color: rgba(80, 80, 80, 0.502);
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
}

.p-top-fv__text {
 width: 100%;
 text-align: center;
 color: #fff;
 font-size: 4rem;
 line-height: calc(60 / 40);
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 @include sp {
   font-size: 3rem;
   line-height: calc(50 / 30);
 }
}


//-----------p-top__concept-----------

.p-top__concept {
 padding-block: 6.6rem 5.5rem;
 @include sp {
   padding-block: 4.6rem 3.4rem;
 }
}

.p-top-concept__head {
 width: 100%;
 text-align: center;
 color: $color-red;
 font-size: 3.5rem; 
 line-height: calc(50 / 35); 
 @include sp {
  font-size: 2.5rem;
  line-height: calc(40 / 25);  
 }
}

.p-top-concept__text {
 width: 100%;
 text-align: center;
 font-size: 1.8rem;
 line-height: calc(30 / 18);
 font-weight: 500;
 padding-block: 1.7rem 3.4rem;
 @include sp {
  padding-block: 0.7rem 2rem;
 }
}

.p-top-concept__img {
 width: 100%;
 text-align: center;
}

.p-top-concept__diagram {
 padding-top: 1.8rem;
 display: flex;
 flex-direction: column;
 row-gap: 2rem;
 @include sp {
  padding-top: 3.3rem;
  row-gap: 1.7rem;
 }
}


.p-top-concept-diagram__row {
 display: flex;
 align-items: center;
 justify-content: center;
}

.p-top-concept-diagram-row__pri {
 background-color: aqua;
 width: 40%;
 text-align: right;
 color: $color-red;
 font-size: 2.5rem;
 line-height: calc(50 / 25);
 text-transform: capitalize;
 @include sp {
   font-size: 2rem;
   line-height: calc(50 / 20);
 }
}

.p-top-concept-diagram-row__cir {
 background-color: $color-red;
 width: 2rem;
 height: 2rem;
 border-radius: 1rem;
 margin-inline: 3rem;
 position: relative;
}

.p-top-concept-diagram-row__cir::before {
 content: '';
 background-color: $color-red;
 width: 0.3rem;
 height: 7rem;
 position: absolute;
 left: 50%;
 bottom: 50%;
 transform: translateX(-50%);
}

.p-top-concept-diagram-row__cir--top::before {
 content: '';
 background-color: $color-red;
 width: 0.3rem;
 height: 5rem;
 position: absolute;
 left: 50%;
 bottom: 50%;
 transform: translateX(-50%);
}

.p-top-concept-diagram-row__cir--top::after { 
 content: '';
 width: 2.5rem;
 height: 2.5rem;
 border: 0.3rem solid $color-red;
 border-color: transparent transparent $color-red $color-red;
 position: absolute;
 bottom: 3.4rem;
 left: -0.2rem;
 transform: rotate(135deg);
}



.p-top-concept-diagram-row__sec {
 background-color: aqua;
 width: 40%;
 font-size: 2.3rem;
 line-height: calc(50 / 23);
 font-weight: 500;
 @include sp {
  font-size: 2rem;
  line-height: calc(50 / 20);
 }
}

//-----------p-top__message------------

.p-top__message {
 padding-block: 6.8rem 5.9rem;
 @include sp {
   padding-block: 4.9rem 4rem;
 }
}

.c-head {
 width: 100%;
 text-align: center;
 font-size: 3rem;
 line-height: calc(50 / 30);
 @include sp {
   font-size: 2.5rem;
   line-height: calc(40 / 25);
 }
}

.c-head--wh {
 color: #fff;
}

.p-top-message__text {
 width: 100%;
 text-align: center;
 color: #fff;
 font-size: 1.8rem;
 line-height: calc(30 / 18);
 font-weight: 500;
 padding-top: 3rem;
 @include sp {
  padding-top: 1.4rem;
 }
}

//-----------p-top__reason------------

.p-top__reason {
 padding-block: 6.4rem 7rem;
 @include sp {
   padding-block: 5.1rem 3.9rem;
 }
}

.p-top-reason__block-wrap {
 padding-top: 2.8rem;
 display: flex;
 flex-direction: column;
 row-gap: 5rem;
 @include sp {
   padding-top: 3.6rem;
   row-gap: 3.7rem;
 }
}

.p-top-reason__block {
 display: flex;
 @include sp {
  display: initial;
 }
}

.p-top-reason-block__img {
 width: 35rem;
 flex-shrink: 0;
 @include sp {
   width: 100%;
 }
}

.p-top-reason-block-right__head {
 padding: 0.7rem 0 1.2rem 5rem;
 border-bottom: 0.2rem solid $color-red;
 font-size: 2.2rem;
 line-height: calc(33 / 22);
 @include sp {
  padding: 3rem 0 1rem 0rem;
  font-size: 2rem;
  line-height: calc(30 / 20);
 }
}

.p-top-reason-block-right__text {
 padding: 3.7rem 0 0 5rem;
 font-size: 1.8rem;
 line-height: calc(33 / 18);
 font-weight: 500;
 @include sp {
  padding: 1.7rem 0 0 0rem;
  font-size: 1.6rem;
  line-height: calc(30 / 16);
 }
}


//-----------p-top__voice------------

.p-top__voice {
 padding-block: 6rem 6.3rem;
 @include sp {
   padding-block: 4.6rem 5rem;
 }
}

.p-top-voice__inner {
 max-width: 108rem;
 width: 100%;
 padding-inline: 8.25rem;
 margin: 0 auto;
 @include sp {
   padding-inline: 2rem;
 }
}

.p-top-voice__lists {
 padding-top: 3.6rem;
 @include sp {
   padding-top: 3.9rem;
 }
}

.slick-arrow {
 position: absolute;
 top: 16.4rem;
 z-index: 5;
 @include sp {
  top: 16.7rem;
 }
}

.slick-prev {
 position: absolute;
 left: -2.5rem;
 z-index: 5;
 @include sp {
  left: 0;
 }
}

.slick-next {
 position: absolute;
 right:-2.5rem;
 z-index: 5;
 @include sp {
  right: 0;
 }
}

.p-top-voice__list {
 margin-inline: 1.75rem;
 @include sp {
   margin-inline: 0;
 }
}

.p-top-voice__head {
 color: #fff;
 width: 100%;
 text-align: center;
 font-size: hvw1080(22);
 line-height: calc(33 / 22);
 padding-block: 1.8rem 1rem;
 @include sp {
  font-size: 2.2rem;
  padding-block: 2.7rem 1rem;
 }
}

.p-top-voice__text {
 color: #fff;
 font-weight: 500;
 font-size: hvw1080(18);
 line-height: calc(30 / 18);
 display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
 @include sp {
  font-size: 1.8rem;
 }
}


//-----------p-top__flow------------

.p-top__flow {
 padding-block: 5rem 0;
 @include sp {
   padding-block: 4.6rem 0;
 }
}

.p-top-flow__diagram {
 padding-top: 5.3rem;
 @include sp {
   padding-top: 3.6rem;
 }
}

.p-top-flow-diagram__row {
 margin-bottom: 5.8rem;
 display: flex;
 align-items: center;
 @include sp {
   margin-bottom: 3.6rem;
   flex-wrap: wrap;
 }
}

.p-top-flow-diagram-row__marker {
 background-color: $color-red;
 width: 2rem;
 height: 2rem;
 border-radius: 1rem;
 margin-inline: 5rem;
 position: relative;
 @include sp {
  margin-inline: 0.7rem 2rem;
 }
}

.p-top-flow-diagram-row__marker::before {
 content: '';
 background-color: $color-red;
 width: 0.3rem;
 height: 12rem;
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translateX(-50%);
 @include sp {
   height: 19rem;
 }
}

.p-top-flow-diagram-row__marker--bottom::before {
 content: '';
 background-color: $color-red;
 width: 0.3rem;
 height: 4.5rem;
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translateX(-50%);
 @include sp {
   height: 13.5rem;
 }
}

.p-top-flow-diagram-row__marker--bottom::after {
 content: '';
 width: 2.5rem;
 height: 2.5rem;
 border: 0.3rem solid $color-red;
 border-color: transparent transparent $color-red $color-red;
 position: absolute;
 left: -0.25rem;
 top: 2.8rem;
 transform: rotate(-45deg);
 @include sp {
  top: 11.8rem;
 }
}

.p-top-flow-diagram-row__head {
 font-size: 2.2rem;
 line-height: calc(33 / 22);
 color: $color-red;
 width: 19.3rem;
}

.p-top-flow-diagram-row__text {
 font-weight: 500;
 font-size: 1.8rem;
 line-height: calc(30 / 18);
 @include sp {
   font-size: 1.6rem;
   line-height: calc(30 / 16);
   padding-top: 0.9rem;
   margin-left: 4.7rem;
 }
}


//-----------p-top__faq------------

.p-top__faq {
 padding-block: 5rem;
 @include sp {
   padding-block: 1.9rem;
 }
}

.p-top-faq__lists {
 padding-top: 3.6rem;
 @include sp {
   padding-top: 3.9rem;
 }
}

.p-top-faq__item {
 border-bottom: 0.05rem solid #000;
}
.p-top-faq__item--top {
 border-top: 0.05rem solid #000;
}

.p-top-faq-question {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-block: 1.5rem;
 @include sp {
   padding-block: 1.3rem 1.3rem;
 }
}

.p-top-faq__answer {
 background-color: rgba(203, 0, 0, 0.098);
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-block: 1.5rem;
 @include sp {
  padding-block: 1.3rem 1.3rem;
}
}

.p-top-faq-question__cir {
 padding-top: 0.2rem;
 background-color: #000;
 width: 3.5rem;
 height: 3.5rem;
 border-radius: 50%;
 color: #fff;
 font-size: 2rem;
 line-height: calc(30 / 20);
 text-align: center;
 margin-inline: 2rem 1rem;
 @include sp {
  margin-inline: 0rem 2rem;
 }
}

.p-top-faq-answer__cir {
 padding-top: 0.2rem; 
 background-color: $color-red;
 width: 3.5rem;
 height: 3.5rem;
 border-radius: 50%;
 color: #fff;
 font-size: 2rem;
 line-height: calc(30 / 20);
 text-align: center;
 margin-inline: 2rem 1rem;
 @include sp {
  margin-inline: 0rem 2rem;
 }
}

.p-top-faq-question__te {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: calc(30 / 17);
  flex: 1;
  @include sp {
    margin-right: 1.5rem;
  }  
}

.p-top-faq-answer__te {
 font-weight: 500;
 font-size: 1.7rem;
 line-height: calc(30 / 17);
 flex: 1;
 @include sp {
   margin-right: 4.7rem;
   font-size: 1.6rem;
   line-height: calc(30 / 16);
 }  
}

.p-top-faq-question__img {
 width: 1.3rem;
 margin-right: 2.8rem;
 @include sp {
  margin-right: 1.4rem;
 }
}



//-----------p-top__------------


//-----------p-top__------------


//-----------p-top__------------


//-----------p-top__------------


//-----------p-top__------------


//-----------p-top__------------


//-----------p-top__------------


//-----------p-top__------------


//-----------p-top__------------


//-----------p-top__------------